#useradmin{
    .center{
        width: 98%;
        margin: auto;
    }
    max-width: 1920px; 
    margin: auto;
        .fixed{
            height: 8vh;
            max-width: 1920px;
            .adminnavbar{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                >div:first-child{
                    // background-color: red;
                    min-width: 60%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-items: center;
                    input{
                        background-color: #F5F6F9 !important;
                        background-image: url(../assets/images/Search.png);
                        background-repeat: no-repeat;
                        background-position-y: center;
                        background-position-X: 10px;
                        min-width: 60%;
                        height: 40px;
                        margin-left: 5%;
                        border: none;
                        box-sizing: border-box;
                        padding: 0 10px 0 40px;
                        border-radius: 5px;
                    }
                    img{
                        width: 200px;
                    }
                }
                >div:last-child{
                    padding-right: 3%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    min-width: 40%;
                    box-sizing: border-box;
                    align-items: center;
                    .notification, .message{
                        border-left: 1px solid #D8D8D8;
                        height: 98%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 86px;
                        padding: auto;
                    }
                    .user{
                        height: 98%;
                        border-left: 1px solid #D8D8D8;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 150px;
                        // background-color: blue;
                        padding: auto;





                        span:first-child{
                            height:42px;
                            width: 42px;
                            border-radius: 21px;
                            background-color: red;
                            position: relative;
                            >span{
                                position: absolute;
                                height: 16px;
                                width: 16px;
                                border-radius: 8px;
                                background-color: green;
                                border: 1px solid #fff;
                                right: 0;
                                bottom: 0;
                            }
                        }
                        span:first-child + span{
                            margin-left: 10px;
                            color: #6672FB;
                        }
                        span:last-child{
                            border-right: 3px solid #6672FB;
                            border-bottom: 3px solid #6672FB;
                            width: 12px;
                            height: 12px;
                            margin-left: 10px;
                            transform: rotate(45deg);
                        }
                    }
                }
        }  
        .dashboard{
            max-height: 1080px;
            min-height: 90vh;
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            .sidebar{
                width: 200px;
                border-right: 1px solid #DFDFDF;
                .sidemenu{
                    cursor: pointer;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    >span:first-child{
                        width: 5px;
                        height: 48px;
                        display: inline-block;
                        
                    }
                    >span:last-child{
                        padding: 0 0 5px 5px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        height: 48px;
                        p{
                            
                            margin: 6px 0 0 8px;

                        }

                    }
                }
                .sidemenu:hover{
                    >span:first-child{
                        background: linear-gradient(90deg, rgba(16, 85, 152, 0.3) -97.53%, rgba(74, 144, 226, 0.3) 100%);

                    }
                    >span:last-child{
                        background: linear-gradient(90deg, rgba(16, 85, 152, 0.150034) -97.53%, rgba(74, 144, 226, 3e-05) 100%);
                        
                        p{
                            color: #6672FB;
                        }
                    }
                }
            }
            .main-dashboard{
                box-sizing: border-box;
                padding-left: 10px;
                max-width: 1720px;
                display: flex;
                // min-width: 84%;
                >div:first-child{
                    // width: 70%;
                    box-sizing: border-box;
                    >div:first-child{
                    }
                    >div:first-child + div{
                        display: flex;
                        flex-wrap: wrap;
                        >div{
                            background-color: red;
                            width: 23em;
                            height: 15em;
                            margin-bottom: 1em;

                        }
                        >div:first-child{
                            margin-right: 1em;
                        }
                    }
                    >div:last-child{
                        >div:first-child{
                            display: flex;
                            justify-content: space-between;
                        }
                        >div:last-child{
                            table{
                                width: 100%;
                                margin-top: 1em;
                                thead{
                                    background-color: #F5F6F9;
                                }
                            }
                        }

                    }
                }
            }
            .rightsidebar{
                display: flex;
                flex-direction: column;
                margin-left: 1em;
                // width: 100%;
                span{
                    max-width: 344px;
                    box-sizing: border-box;
                }
                >span:first-child{
                    display: flex;

                    .project, .completed, .pending{
                        width: 7em;
                        height: 4em;
                        p,h4{
                            text-align: center;
                            padding: 0;
                            margin: 0;
                        }
                    }
                    .completed{
                        border-left: 1px solid black;
                        border-right: 1px solid black;
                    }

                }
                .expire{
                    margin-top: 1em;
                    h4{
                        margin: 0 0 1em 0;
                        padding: 0;
                    }
                    >div{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 1em;
                        >span{
                            display: flex;
                            align-items: center;
                            >span{
                                width: 42px;
                                height: 42px;
                                border-radius: 21px;
                                background-color: grey;
                                margin-right: 1em;
                            }
                        }
                    }
                }
                .contactus{
                    display: flex;
                    justify-content: center;
                    // align-items: center;
                    flex-direction: column;
                    .image{
                        display: flex;
                        justify-content: center;
                    }
                    h3{
                        margin: 1em 0 0 0;
                    }
                }
            }
        }   
    }
}