#maincontent{
    padding-top: 10vh;
    h1,p{
        margin:0;
        padding: 0;
    }
    height: 100vh;
    display: flex;
    flex-direction: row;
    // position: relative;
    .left{
        // position: absolute;
        display: flex;
        height: 100vh;
        width: 50vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        h1{
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 80px;
            margin-bottom: 2vh;
        }
        p{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;

            color: #7D7D7D;
            width: 70%;
            text-align: center;
        }

        
        
    }
    .right{
        position: relative;
       right: 0;
       top: 0;
        height: 100vh;

        width: 50vw;
        .image{
            position: absolute;
            top: 5vh;
            left: 11vw;
            height: 100vh;
            img{
                height: 80%;
            }            
        }
        svg{
            position: absolute;
            right: 0;
        }
        
    }

}