#working-box{
    background: #FFFFFF;
    margin-top: 3em;
    h2{
        box-sizing: border-box;
        margin:0;
        text-align: center;
        padding:0.5em;
    }
    .center{
        display: flex;
        justify-content: space-between;
        margin:auto;
        width:75vw;
    }
    .process{
        display: flex ;
        margin: 2em 0;
        .content-1{
            display: flex;
            justify-content: center;
            align-items: center;
        p{
            margin:0 2em;
            font-size: 1.5em;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
        }
    }
        
    }

}