#testimonial{
    margin-top: 2em;
    
    .grey-box{
        background: #C1C1C1;
        padding: 2em 0 3em 0;
    }
    h2{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    
    .center{
        width: 70vw;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 4em;
    }
    
    .total-box{
        display: flex;
        justify-content: center;
        width:13rem;
        height:17rem;
        background-color: white;
        padding:1em,0;
        position: relative;
        border-radius: 1em;
        .image{
            position: absolute;
            height: 5em;
            width: 5em;
            background-color: yellow;
            border-radius: 2.5em;
            top:-2.5em;
        }
    }
    
    
  
}