#testimonial{
    margin-top: 2em;
    
    .grey-box{
        background: #C1C1C1;
        padding: 2em 0 3em 0;
    }
    h2{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    
    .center{
        width: 70vw;
        margin: auto;
        display: block;
        .slick-slide {
            div:first-child{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
        }
        button{
            display: none !important;
        }

       

    }
    
    .total-box{
        display: flex !important;
        justify-content: center;
        width:13rem !important;
        height:17rem;
        background-color: white;
        padding:1em 0;
        position: relative;
        border-radius: 1em;
        margin: 4em 0 3em 0;

        .image{
            position: absolute;
            height: 5em;
            width: 5em;
            background-color: yellow;
            border-radius: 2.5em;
            top:-2.5em;
            align-items: center;
        }
    }
    
    
  
}