
.center{
    width:80vw;
    display: flex;
    justify-content:space-between;
    margin: auto;
    
}
.links{
    border-top: 2px solid #5A5A5A;
    padding: 3vh 0;

}

.links-list1 a{
    
    text-decoration: none;
    color:#0000EE;
   
    
} 

.footerInfo{
    border-top: 2px solid #5A5A5A;
    padding-top: 3vh ;
    background-color:  #FBFBFB;
    
   
}
p{
    margin:0;
    padding:0;
}

.footerEnd{
    border-top: 2px solid #5A5A5A;
    margin-top: 1em;
    padding:0;
}
.footer-end{
    text-align: center;
}

h5,ul {
    padding:0;
    margin:0;
}